* {
  font-family: Roboto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h5 {
  color: white;
  z-index: 1;
}

.intro {
  color: #EC516D;
  font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 47px;
letter-spacing: 0em;
text-align: center;
}

.intro-s1 {
  color: #4D007C;
  font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 47px;
letter-spacing: 0em;
text-align: center;
}

.intro-two {
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
color: #4D007C;
}

.intro-s2 {
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
color: #E13E5C;
}

.intro-three {
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #4D007C;
}

.badge {
  background-color: #5E0097;
}

hr {
  background-color:black; 
  max-width: 100%;
  height:3px; 
  margin:40px;

}

.text-pink {
  color: #E13E5C;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
